body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
    line-height: 1.3;
}

body{
	background-color:#404040;
    margin: 0;
}
p, span, form{
	padding: 1em;
	color: aliceblue;
}
span.error {
	color: red;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em;
    color: indianred;
	text-align: center;
}

form.MyFrom{
    font-family: "Lucida Console", "Courier New", monospace;
} 
/* h1, h2, h3: color: IndianRed;*/
