body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
    line-height: 1.3;
}

body{
	background-color:#404040;
    margin: 0;
}
p, span, form{
	padding: 1em;
	color: aliceblue;
}
.error {
	color: red;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em;
    color: indianred;
	text-align: center;
}

form.MyFrom{
    font-family: "Lucida Console", "Courier New", monospace;
} 

/* My old codes to make it better */
body {
    margin: 0;
    color: #f9f9f9;
    background-color: #3c3c3c;
    font-family: Helvetica, sans-serif;
  }
  
  *{
     
    -webkit-box-sizing: border-box ;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    /*csslint box-sizing: false*/
  }

  .justifyMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  .middleSide{
    align-items: center;
    display: flex;
    justify-content: center;

  }
  .gitCodeAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  
  .codeSide{
    justify-content: center;
    padding: 1em;
  }

  .definition{
    padding: 1em;
  }

  .site-title {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.5625em;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #c96;
  }

  .page-title {
    text-align: center;
    background-image: url(https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png);
    background-color: #f5ebe0;
    font-size: 36px;
    line-height: 1.5;
    color: #404040;
  }

  .contentTitle{
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }
  .contentMyText{
    margin: .5em 0;
    padding: 0;
    text-align: justify;
  }

  @supports not (display: grid)
    {
        .page-title,
        .definition,
        .codeSide,
        .gitCodeAddress{
            max-width: 50em;
            margin: 0 auto;
        }
    }

  @supports (display: grid){
    @media screen and (min-width: 800px) {
      .site {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:
          "content-head content-head"
          "definition codeSide"
          "gitCodeAddress gitCodeAddress";
      }
    }

    .page-title {
      grid-area: content-head;
  }

    .definition {
        grid-area: definition;
    }

    .codeSide {
        grid-area: codeSide;
    }
    .gitCodeAddress{
        grid-area: gitCodeAddress;
    }

    @media screen and (min-width: 1200px){
        .site {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
              "content-head content-head content-head"
                "definition codeSide codeSide"
                "gitCodeAddress gitCodeAddress gitCodeAddress";
        }
    }
        
    
}
